body {
  height: 400px;
  width: 350px;
  background-color: antiquewhite;
}

.header {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: royalblue;
  margin: -8px;
  padding: 10px;
}

#timer {
  text-align: center;
  font-size: 40px;
  margin: 10px;
  font-weight: 500;
  color: royalblue;
}

#btn-container {
  display: flex;
  justify-content: space-evenly;
}

#btn-container > button {
  color: royalblue;
  background-color: antiquewhite;
  border: 1px solid royalblue;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: 700;
  width: 100px;
  cursor: pointer;
}

/* #btn-container > button:hover {
  cursor: pointer;
} */

#task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.task-input {
  outline: none;
  border: 1px solid royalblue;
  background-color: #e2d3d3;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 250px;
  color: royalblue;
}

.task-delete {
  outline: none;
  border: 1px solid royalblue;
  background-color: antiquewhite;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  font-weight: 700;
  color: royalblue;
}
